<div class="container">
    <!-- <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom Produit en tapant</label>
        <input class="form-control" #searchTerm (keyup)="onKeyUp(searchTerm.value)">
        </div>
        </form>
         -->
         <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2 mt-2 ">
            <label>Nom Joueur en tapant</label>
            <input #nom [(ngModel)]="searchTerm" name="searchTerm" class="form-control" >
            </div>
            </form>
    
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <thead>
        <tr> <th>Num</th><th>Nom</th> <th>Post</th> <th>Date Naissance</th>   <th>Equipe</th> </tr>
    
    </thead>
    <tbody *ngFor="let joueur of joueurs  | searchFilter: searchTerm">
    <tr >
        <td>{{joueur.numJoueur}}</td>
        <td>{{joueur.nomJoueur}}</td>
        <td>{{joueur.postJoueur}}</td>
        <td>{{joueur.dateNaissance | date:'dd/MM/yyyy'}}</td>
        <td>{{joueur.equipe.nomEqp}}</td>  
        <!-- <td><a class="btn btn-danger" (click)="supprimerJoueur(joueur)">Supprimer</a></td>
        <td><a class="btn btn-warning" [routerLink]="['/updateJoueur',joueur.numJoueur]">Modifier</a></td> -->
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>